* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.main {
    max-width: 20%;
    max-height: 500px;
    margin: auto;
    background-color:  hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 10px;
}

.img {
    max-width: 100%;
    max-height: 500px;
    margin: auto;
    border-radius: 10px;
}

.header {
    max-width: 90%;
    margin: auto;
    padding-top: 15px;
    font-weight: 700;
    line-height: 1.5rem;
}

.body-text {
    max-width: 90%;
    margin: auto;
    padding: 15px 0 25px 0;
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

.attribution { 
    font-size: 14px;
    text-align: center;
}

.attribution a {
     color: hsl(236, 100%, 83%);
     text-decoration: none;
}

footer {
    position: fixed;
    padding: 15px 0;
    bottom: 0;
    width: 100%;
    color: hsl(0, 0%, 100%);
    background-color: hsl(218, 44%, 22%);
}

@media screen and (min-width: 1600px){
    .main {
        max-width: 25%;
        max-height: 100vh;
        margin: auto;
        background-color:  hsl(0, 0%, 100%);
        border-radius: 20px;
    }

    .img {
        max-width: 97.25%;
        margin: auto;
        margin-top: 15px;
        border-radius: 20px;
    } 

    .header {
        max-width: 85%;
        margin: auto;
        margin-top: 25px;
        font-size: 32px;
        font-weight: 700;
        line-height: 3rem;
    }

    .body-text {
        max-width: 85%;
        margin: auto;
        margin-bottom: 40px;
        padding-top: 20px;
        font-size: 24px;
        font-weight: 400;
    }
}

@media screen and (max-width: 768px) {
    .main {
        max-width: 40%;
        margin: auto;
    }
}

@media screen and (max-width: 376px) {
    .main {
        max-width: 90%;
        margin: auto;
    }
    
    .header{
        letter-spacing: 2px;
    }
}
